<!-- <div class="noise-wrapper">
 -->  <div class="header-main header-tp" id="anchorHome">
    <div class="container">
  <nav class="navbar" role="navigation"> 
    <!-- Brand and toggle get grouped for better mobile display -->
    <!-- / -->
    <!-- <div class="navbar-header">
      
      <a class="current navbar-brand" href="#">
        <h2 class=""><b>LOGO</b></h2>
      </a>
    </div> -->
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <!-- <a class="btn btn-default navbar-btn navbar-right" data-toggle="modal" href="http://earth.pinsupreme.com/grey.html#loginModal">
        Sign In
        <i class="icon-signin"></i>
      </a> -->
      <ul class="nav navbar-nav navbar-right">
        <li class="active">
          <%= link_to "Home", root_path, :class => '' %>
        </li>
        <% if user_signed_in? %>
            <li>
            <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
            </li>
          <% else %>
              <a class="btn btn-default navbar-btn navbar-right" data-toggle="modal" href="<%= new_user_session_path %>">
                Login
                <i class="icon-signin"></i>
            </a>
          <% end %>
        <% if user_signed_in? %>
            <li>
            <%= link_to 'Edit account', edit_user_registration_path %>
            </li>
          <% else %>
            <li>
            <%= link_to 'Sign up', new_user_registration_path %>
            </li>
        <% end %>
        <p class="navbar-text pull-right"><a href="#" target="_blank"><%= current_user.email if current_user %></a></p>
<!--           <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li> -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Nav header</li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
      </ul>
    </div>
 </nav>
</div>
</div>
<div class="separator-shadow-bottom">
  <img alt="" src="/assets/demo_images/shadow-separator-wide-bottom.png">
  </div>
<!-- </div> -->