<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta "http-equiv"="X-UA-Compatible" content="IE=edge">

  

  <link rel="stylesheet" href="/assets/demo.css.scss">
  <script src="/assets/demo.js"></script>

  <link href="http://earth.pinsupreme.com/assets/favicon.ico" rel="shortcut icon">
  <link href="http://earth.pinsupreme.com/assets/apple-touch-icon.png" rel="apple-touch-icon">
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    @javascript html5shiv respond.min
  <![endif]-->

  <title>PM Tool</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Invoke PM tool" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Invoke PM tool" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %> noise-wrapper">
     
    <%= render 'layouts/navigation' %>  
    <%= render 'layouts/messages' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>


<style>
/*sign_in styles*/
body {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
}
.form-signin {
    max-width: 350px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"], .form-signin input[type="password"] {
    margin-bottom: 10px;
}
.form-signin label {
    font-weight: normal;
}
.error {
    color: #b94a48;
}
/*.footer-down {
  margin-top :25% !important;
}*/
/*sign_in styles*/


.navbar-nav > li > a {
  background: transparent !important;
  color: #555555 !important;
}
</style>